.notify {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left:0;
    &.notify-msg-p{
      display: inline;
      height: 0px;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: rgba(0,0,0,.6);
    }
    &.notify-tips-p{
      display: inline;
      height: 0px;
      top:0;
      left:0;
      position: absolute;
    }
    .notify-mask {
        background-color: #000;
        opacity: 0.4;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .notify-main {
        min-width: 250px;
        max-width: 500px;
        min-height: 150px;
        max-height: 500px;
        background-color: #fff;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
        border:1px solid #eee;
        box-shadow: 1px 1px 50px rgba(0,0,0,0.3);
        border-radius: 2px;
    }
    .notify-content{
      min-height: 65px;
      padding: 20px;
      iframe{
        width: 100%;
        height: 100%;
        border:none;
        overflow:none;
      }
    }
    .notify-btns{
      text-align: right;
      padding: 0 8px 0 0;
    }
    .notify-alert{
      h2.notice-title{
        width: 100%;
        height: 43px;
        line-height: 43px;
        background-color: #F8F8F8;
        border-bottom:1px solid #eee;
        font-size: 14px;
        padding-left: 15px;
        cursor: move;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        .icon-remove{
          position: absolute;
          right:10px;
          font-size: 20px;
          top:10px;
          cursor: pointer;
        }
      }
    }
    .notify-loading{
      display: inline;
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
    .notify-msg{
      min-width: 50px;
      display: inline;
      height: 48px;
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: rgba(0,0,0,.6);
      color: #fff;
      padding: 12px 25px;
      text-align: center;
      border-radius: 5px;
    }
    .notify-tips{
      min-width: 50px;
      max-width:400px;
      display: inline;
      min-height: 32px;
      position:absolute;
      left:-50%;
      background-color: #000;
      color: #fff;
      padding: 6px 12px;
      border-radius: 5px;
      & > em {
        border:10px solid #000;
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }
    .notify-tips-0{//上
      & >em{
        border-top-color: transparent!important;
        border-right-color: transparent!important;
        border-bottom-color: transparent!important;
        left:15px;
        bottom:-8px;
      }
    }
    .notify-tips-1{//右
      & >em{
        border-top-color: transparent!important;
        border-left-color: transparent!important;
        border-right-color: transparent!important;
        left:-8px;
        top:0px;
      }
    }
    .notify-tips-2{//下
      & >em{
        border-top-color: transparent!important;
        border-left-color: transparent!important;
        border-bottom-color: transparent!important;
        left:15px;
        top:-8px;
      }
    }
    .notify-tips-3{//左
      max-width: 300px;
      & >em{
        border-top-color: transparent!important;
        border-left-color: transparent!important;
        border-right-color: transparent!important;
        right:-8px;
        top: 0px;
      }
    }

    .notify-iframe {//iframe
      max-width: 2000px;
      .notify-content{
        padding: 0;
      }
    }

}
